
<div class="container row mt-4 p-3 ">
  <div class="d-flex gap-md-3  justify-content-around">
      <div class="review-card cursor w-25" style="background-color: #f4a261;">
          <p>Total Locked Users</p>
          <div class="card-value">
              <span >I</span>
              <span> {{LockedUsers.length}}  </span>
          </div>
      </div>
      <div class="review-card cursor w-25" style="background-color: #2a9d8f;">
          <p>Total Unlocked Users</p>
          <div class="card-value">
              <span>I</span>
              <span> {{UnlockedUsers.length}} </span>
          </div>
      </div>
      <div class="review-card cursor w-25" style="background-color: #c084fc;">
          <p>Total Users Surveyed</p>
          <div class="card-value">
              <span>I</span>
              <span> {{totalUsersSentSurvey}} </span>
          </div>
      </div>
      <div class="review-card cursor w-25" style="background-color: #6495ED;">
          <p>Total Users Commented</p>
          <div class="card-value">
              <span>I</span>
              <span> {{commentedUsersCount}} </span>
          </div>
      </div>
  </div>
</div>

<div class="container row g-5 ">
  <div class="col-8">
    <div class="mt-5" id="chartContainer" style="height: 370px; width: 100%;">
      <canvasjs-chart [options]="chartOptions2"></canvasjs-chart>
    </div>
  </div>
  <div class="col-4">
    <div class="mt-5" id="chartContainer" style="height: 370px; width: 100%;">
      <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
    </div>
  </div>
</div>

<!--
<div class="mt-5" id="chartContainer" style="height: 370px; width: 100%;">
  <canvasjs-chart [options]="chartOptions3"></canvasjs-chart>
</div> -->

