<div class="container-fluid ">
  <div class=" shadow-sm p-4 mx-auto" >
      <div class="text-center d-flex ">
          <img src="../../../assets/images/oo.jpg" width="70" class="rounded-circle mb-2" alt="Profile">
          <div class="ps-3 d-flex flex-column ">
            <h4 class="fw-bold">Edit your profile</h4>
            <p class="text-muted">Davidheregmail.com</p>
          </div>
      </div>
      <hr>
      <form>
          <div class="mb-3">
              <label class="form-label">Username</label>
              <input type="text" class="form-control" value="david_here" readonly>
          </div>
          <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" value="Davidhere@gmail.com" readonly>
          </div>
          <div class="mb-3">
              <label class="form-label">Old password</label>
              <input type="password" class="form-control" value="**********" readonly>
          </div>
          <div class="mb-3">
              <label class="form-label">New password</label>
              <input type="password" class="form-control" placeholder="Enter your new password">
          </div>
          <div class="mb-4">
              <label class="form-label">Confirm new password</label>
              <input type="password" class="form-control" placeholder="Confirm your new password">
          </div>
          <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-light me-2">Cancel</button>
              <button type="submit" class="btn btn-primary">Save</button>
          </div>
      </form>
  </div>
</div>
