<div class="container d-flex align-items-center justify-content-center pb-3">
  <div class="row w-100">
    <div class="w-100 d-flex justify-content-center align-items-center pt-3">
      <!-- Make the form container wider, using col-lg-8 or col-xl-10 -->
      <div class="form-container col-lg-8 col-xl-10 ">
        <div class="text-center mb-3">
          <img src="../../../assets/images/logo.png" alt="Logo" width="70px" class="mb-2">
          <h1 class="form-title">Forget Password</h1>
          <p class="form-text">Add your details below to get back into the app</p>
        </div>
        @if (step == 1)
        {
          <form [formGroup]="forgetpasswordForm" (ngSubmit)="forgetpasswordSubmit()">
            <div class="mb-4">
              <label for="email" class="form-label fs-4 mb-0 text-dark">Email Address</label>
              <input formControlName="email" type="text" class="form-control w-100" id="email" placeholder="Enter your email" required>
              @if (forgetpasswordForm.get('email')?.errors && forgetpasswordForm.get('email')?.touched)
              {
                <div class="alert alert-danger w-100">
                  @if (forgetpasswordForm.get('email')?.getError('required') )
                  {
                    <p class="m-0">Email Is Required</p>
                  }
                  @else if (forgetpasswordForm.get('email')?.getError('email'))
                  {
                    <p class="m-0">Enter Valid Email</p>
                  }
                </div>
              }
            </div>
            <button type="submit" class="btn btn-custom" [disabled]="isLoading">Continue
              @if (isLoading) {
                <span> <i class="fas fa-spin fa-spinner"></i></span>
              }
            </button>
            <div class="login-link text-center pt-0 mt-1 cursor">
              <i class="fa-solid fa-arrow-left pe-2 iclolr"></i><a class="text-decoration-none text-color" routerLink="/login">Back to login</a>
            </div>
          </form>
        }

        @else if (step == 2)
        {
          <form [formGroup]="verficationcodeForm" (ngSubmit)="verificationCodeSubmit()">
            <div class="mb-3">
              <div class="mb-3">

                <input formControlName="email" type="text" class="form-control w-100" id="email" readonly hidden placeholder="Enter your email">
                <label for="verificationCode" class="form-label fs-4 mb-0 pb-0">Verification Code</label>
                <!-- <p class="pt-0 mt-0">Please confirm the security code received on yur registered email.</p> -->
                <input formControlName="verificationCode" type="text" class="form-control w-100" id="verificationCode" placeholder="222222" required>
                <!-- @if (verficationcodeForm.get('verificationCode')?.errors && verficationcodeForm.get('verificationCode')?.touched)
                {
                  <div class="alert alert-danger w-100">
                    @if (verficationcodeForm.get('verificationCode')?.getError('required') )
                    {
                      <p class="m-0">password Is Required</p>
                    }
                    @else if (verficationcodeForm.get('verificationCode')?.getError('pattern'))
                    {
                      <p class="m-0">Password must be at least 6 characters long, include at least one digit (0-9), and contain at least one uppercase letter (A-Z)</p>
                    }
                  </div>
                } -->
              </div>
            </div>
            <button type="submit" class="btn btn-custom" [disabled]="isLoading">Continue
              @if (isLoading) {
                <span> <i class="fas fa-spin fa-spinner"></i></span>
              }
            </button>
            <div class="login-link text-center pt-0 mt-1 cursor">
              <i class="fa-solid fa-arrow-left pe-2 iclolr"></i><a class="text-decoration-none text-color" routerLink="/login">Back to login</a>
            </div>
          </form>
        }

        @else if (step == 3)
        {
          <form [formGroup]="resetpasswordForm" (ngSubmit)="resetpasswordSubmit()">
            <div class="mb-3">
              <div class="mb-3">
                <label for="newPassword" class="form-label fs-4 mb-0">New Password</label>
                <input formControlName="newPassword" type="password" class="form-control w-100" id="newPassword" placeholder="Enter your new password" required>
                @if (forgetpasswordForm.get('newPassword')?.errors && forgetpasswordForm.get('newPassword')?.touched)
                {
                  <div class="alert alert-danger w-100">
                    @if (forgetpasswordForm.get('newPassword')?.getError('required') )
                    {
                      <p class="m-0">password Is Required</p>
                    }
                    @else if (forgetpasswordForm.get('newPassword')?.getError('pattern'))
                    {
                      <p class="m-0">Password must be at least 6 characters long, include at least one digit (0-9), and contain at least one uppercase letter (A-Z)</p>
                    }
                  </div>
                }
              </div>
              <!-- <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm password</label>
                <input type="password" class="form-control w-100" id="confirmPassword" placeholder="Confirm password" required>
                @if (forgetpasswordForm.getError('mismatch') && forgetpasswordForm.get('rePassword')?.touched)
                {
                      <p class="alert alert-danger w-100 m-0">password Confirmation Is Incorrect</p>
                }
              </div> -->
            </div>
            <button type="submit" class="btn btn-custom" [disabled]="isLoading">Continue
              @if (isLoading) {
                <span> <i class="fas fa-spin fa-spinner"></i></span>
              }
            </button>
            <div class="login-link text-center pt-0 mt-1 cursor">
              <i class="fa-solid fa-arrow-left pe-2 iclolr"></i><a class="text-decoration-none text-color" routerLink="/login">Back to login</a>
            </div>
          </form>
        }
      </div>
    </div>
  </div>
</div>
