<app-sentiment-nav></app-sentiment-nav>
<!-- image section -->
<section class="Categories-image position-relative d-flex flex-column align-items-center justify-content-center text-center text-white">
  <div class="image-container position-relative w-100 h-100 overflow-hidden">
    <div class="image-overlay position-absolute top-0 start-0 w-100 h-100"></div>
    <img src="../../../assets/images/Rectangle 74.jpg"  class="w-100"alt="Blog Image">
  </div>
  <div class="categories-image-content position-absolute z-2">
    <h1 class="fs-1">Saved News</h1>
  </div>
</section>

<!-- categories cards section -->
<section class="container mt-3">
  <div class="row g-3">
      @for (Savednews of savedNews; track $index) {
        <div class="col-md-3">
            <div class="p-2" style="cursor: pointer;">
                <div class="position-relative image-wrapper">
                    <i
                        class="fa-solid fa-bookmark bookmark-icon"
                        (click)="removeFromBookmarks(Savednews._Id)"
                    ></i>
                    <img [src]="Savednews.media" class="card-img object-fit-cover" height="245px" alt="name">
                    <p class="position-absolute category-name text-white text-capitalize">{{getCategoryDisplayName(Savednews.topic)}}</p>
                </div>
                <h4 class="h6 mt-3">{{ Savednews.title.slice(0,50) }}...</h4>
                <div class="d-flex align-items-center justify-content-between">
                    <ng-container *ngIf="Savednews.author; else noAuthor">
                        <small class="text-comments">By {{ Savednews.author }}</small>
                      </ng-container>
                      <ng-template #noAuthor>
                        <small class="text-comments">{{Savednews.published_Date}}</small>
                      </ng-template>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="d-flex align-items-center">
                        <span style="font-size: 1.2em; margin-bottom: 5px;">{{ likeCounts[Savednews._Id] || 0 }}</span>
                        <i class="fs-5 pe-2 ps-1 text-comments"
                          [ngClass]="favoriteStates[Savednews._Id] ? 'fa-solid fa-heart text-danger' : 'fa-regular fa-heart'"
                          (click)="toggleFavorite(Savednews._Id, $event)">
                        </i>
                      </div>
                        <i class="fa-regular fa-comment fs-5 cursor text-comments" (click)="openCommentPopup(Savednews._Id, $event)"></i>

                        <app-comment-pop-up
                          [showComments]="showPopup"
                          [articleId]="selectedArticleId"
                          (closePopup)="showPopup = false">
                        </app-comment-pop-up>
                    </div>
                </div>
            </div>
        </div>
      }
  </div>


</section>
