<div class="container mt-4">
  <div class="row">
    <!-- User Card -->
    @for (user of usersList; track user.id)
    {
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card shadow-sm border-0 text-center position-relative">
          <!-- Three dots menu -->
          <div class="dropdown position-absolute top-0 end-0 m-2">
            <button class="btn btn-light btn-sm rounded-circle" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end shadow-sm">
              <li>
                <a class="dropdown-item cursor" [routerLink]="['/specific-user-comments', user.id]"a>
                  <i class="bi bi-chat-left-text me-2 text-primary"></i> View user’s comments
                </a>
              </li>
              <li>
                <a class="dropdown-item cursor" (click)="user.isLockedOut ? unlockUser(user.id) : lockUser(user.id)">
                  <i class="me-2" [ngClass]="user.isLockedOut ? 'bi bi-unlock text-success' : 'bi bi-lock text-danger'"></i>
                  {{ user.isLockedOut ? 'Unlock this user' : 'Lock this user' }}
                </a>
              </li>

            </ul>
          </div>

          <!-- User Image -->
          <img src="../../../assets/images/oo.jpg" class="card-img-top rounded-circle mx-auto mt-3" style="width: 80px; height: 80px;" alt="User">

          <!-- Card Body -->
          <div class="card-body">
            <h5 class="card-title cursor"> {{ user.userName }} </h5>
            <p class="text-muted pb-0 cursor"><i class="bi bi-envelope"></i> {{ user.email }} </p>
            <p class="pt-0 cursor" [ngClass]="user.isLockedOut ? 'text-success' : 'text-muted'">
              <i class="me-2 cursor" [ngClass]="user.isLockedOut ? 'bi bi-lock' : 'bi bi-unlock'"></i>
              {{ user.isLockedOut ? 'Locked account' : 'Unlocked account' }}
          </div>
        </div>
      </div>
    }
  </div>
</div>
