.card {
  border-radius: 12px;
  transition: 0.3s ease-in-out;
  position: relative;
  background-color: var(--card-bg);

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}

.card-img-top {
  border: 3px solid #f8f9fa;
}

.dropdown-menu {
  min-width: 180px;
  border-radius: 8px;
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.dropdown-item {
  font-size: 14px;
  padding: 8px 12px;
  transition: 0.2s;
  color: var(--text-color) !important;
  &:hover {
    background-color: var(--dropdown);
  }
}

.btn-light {
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.text-color{
  color: var(--text-color);
}

.text-muted{
  color: var(--text-muted) !important;
}

.bi-three-dots{
  color: var(--text-color);
}