<div class="bg-color align-items-center py-3">
  <div class="container d-flex justify-content-between w-100">
        <!-- Negative News -->
        <a routerLink="" class="d-flex align-items-center w-50 text-decoration-none">
        <div class=" rounded-circle text-white d-flex justify-content-center align-items-center" style="width: 40px; height: 40px;">
          <i class="fa-solid fa-face-frown fs-1 text-danger"></i>
        </div>
        <span class="ms-2 text-white">Negative News</span>
      </a>

      <!-- Positive News -->
      <a routerLink="" class="d-flex align-items-center w-50 text-decoration-none">
        <div class=" rounded-circle text-white d-flex justify-content-center align-items-center" style="width: 40px; height: 40px;">
          <i class="fa-solid fa-face-smile fs-1 text-success"></i>
        </div>
        <span class="ms-2 text-white">Positive News</span>
      </a>
  </div>
</div>

<!--

<div class=" rounded-circle text-white d-flex justify-content-center align-items-center" style="width: 40px; height: 40px;">
          <i class="fa-solid fa-face-meh fs-1 text-warning"></i>
        </div>
        <span class="ms-2 text-white">All News</span>
  -->
