
<div class="bg-color align-items-center py-3">
  <div class="container d-flex justify-content-between w-100">
    <!-- Negative News -->
<!-- Negative News -->
<a routerLink="/home" [queryParams]="{ type: type === 'negative' ? null : 'negative' }"
    class="d-flex align-items-center w-50 text-decoration-none">
    <div class="rounded-circle text-white d-flex justify-content-center align-items-center"
        style="width: 40px; height: 40px;">
        <img [src]="getNegativeImage()" alt="Negative Icon" class="img-fluid" style="width: 40px; height: 40px;">
    </div>
    <span class="ms-2 text-white">{{ getNegativeText() }}</span>
</a>

<!-- Positive News -->
<a routerLink="/home" [queryParams]="{ type: type === 'positive' ? null : 'positive' }"
    class="d-flex align-items-center w-50 text-decoration-none">
    <div class="rounded-circle text-white d-flex justify-content-center align-items-center"
        style="width: 40px; height: 40px;">
        <img [src]="getPositiveImage()" alt="Positive Icon" class="img-fluid" style="width: 40px; height: 40px;">
    </div>
    <span class="ms-2 text-white">{{ getPositiveText() }}</span>
</a>

  </div>
</div>
