.table {
    background-color: var(--card-bg) !important;
    color: var(--text-color, #fff) !important;
    border-color: var(--border) !important;
  }
  
  .table th {
    background-color: var(--bookmark) !important;
    color: var(--text-color, #fff) !important;
  }
  
  .table td {
    background-color: var(--card-bg) !important;
    color: var(--text-color, #fff) !important;
    border-color: var(--border) !important;
  }
  
  .table tbody tr:hover {
    background-color: #2b2b3c !important;
  }
  .dropdown-menu {
    background-color: var(--card-bg) !important;
    color: var(--text-color) !important;
  }
  
  .dropdown-item {
    color: var(--text-color) !important;
  }
  
  .dropdown-item:hover {
    background-color: var(--dropdown)!important;
  }
  